// Color control HUB
:root {
  --primary: #5d6081;
  --primary-rgb: 93, 96, 129;
  --acc1: #ecc39c;
  --acc1-rgb: 236, 195, 156;
  --acc2: #ff6f62;
  --acc2-rgb: 255, 111, 98;
  --bg: #f6f6f6;
  --bg-rgb: 246, 246, 246;
  --shadow: #22233a;
  --shadow-rgb: 34, 35, 58;
  --heat1: #eae374;
  --heat2: #f9d62e;
  --heat3: #fc913a;
  --heat4: #ff4e50;

  --cubic-1: cubic-bezier(0.54, 0.03, 0, 1.66);
  --cubic-2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.dark-theme {
  --primary: #ecc39c;
  --primary-rgb: 236, 195, 156;
  --acc1: #ff6f62;
  --acc1-rgb: 255, 111, 98;
  --acc2: #2e292d;
  --acc2-rgb: 46, 41, 45;
  --bg: #2e292d;
  --bg-rgb: 46, 41, 45;
  --shadow: #11111b;
  --shadow-rgb: 17, 17, 27;
  --heat1: #b3e5fc;
  --heat2: #4fc3f7;
  --heat3: #039be5;
  --heat4: #01579b;
}
