// Color control HUB
:root {
  --primary: #fd886e;
  --primary-rgb: 253, 136, 110;
  --acc1: #f8e2cf;
  --acc1-rgb: 248, 226, 207;
  --acc2: #ffaf59;
  --acc2-rgb: 255, 175, 89;
  --bg: #fdf6f0;
  --bg-rgb: 253, 246, 240;
  --shadow: #22233a;
  --shadow-rgb: 34, 35, 58;
  --heat1: #eae374;
  --heat2: #f9d62e;
  --heat3: #fc913a;
  --heat4: #ff4e50;

  --cubic-1: cubic-bezier(0.54, 0.03, 0, 1.66);
  --cubic-2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.dark-theme {
  --primary: #9ca0a9;
  --primary-rgb: 156, 160, 169;
  --acc1: #e4e2cc;
  --acc1-rgb: 228, 226, 204;
  --acc2: #b79251;
  --acc2-rgb: 183, 146, 81;
  --bg: #353d4f;
  --bg-rgb: 53, 61, 79;
  --shadow: #11111b;
  --shadow-rgb: 17, 17, 27;
  --heat1: #b3e5fc;
  --heat2: #4fc3f7;
  --heat3: #039be5;
  --heat4: #01579b;
}
