@import '../abstracts/mixins';

.heatmap__container {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(7, min-content);
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 0.5rem;

  @include respond(mobile-land) {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    gap: 0.4rem;
  }
}

.heat {
  &__box {
    position: relative;
    width: 3vw;
    height: 3vw;
    border-radius: 11px;
    background-color: rgba(var(--acc1-rgb), 0.7);
    transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    @include respond(laptop) {
      width: 5rem;
      height: 5rem;
    }

    @include respond(mobile-land) {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 7px;
    }

    &:hover {
      border: 2px solid var(--bg);
      cursor: pointer;
      background-color: rgba(var(--acc2-rgb), 0.7);
      transform: scale(1.1);
      z-index: 1000;

      .heat__modal {
        display: flex;
        word-wrap: break-word;
      }
    }
  }

  &__month {
    &-header {
      font-size: 4rem;
      color: var(--acc1);
    }

    @include respond(mobile-land) {
      grid-row: 1 / -1;
      text-align: center;
    }
  }

  &__contributions {
    &-header {
      font-size: 3rem;
      font-weight: 400;
      color: var(--acc1);
    }

    @include respond(mobile-land) {
      word-wrap: break-word;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: var(--acc1);
    }
  }

  &__past {
    background-color: rgba(var(--acc1-rgb), 0.3);
    box-shadow: inset 0px 0px 5px rgba(var(--shadow-rgb), 0.7);
  }

  &__current {
    box-shadow: inset 0px 0px 5px rgba(var(--shadow-rgb), 0.9);
  }
}

.heat__1 {
  background-color: var(--heat1);
}

.heat__2 {
  background-color: var(--heat2);
}

.heat__3 {
  background-color: var(--heat3);
}

.heat__4 {
  background-color: var(--heat4);
}

.heat__modal {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--acc1);
  border-radius: 11px;
  width: max-content;
  height: min-content;
  top: -90%;
  left: 50%;
  transition: all 0.2s cubic-bezier(0.54, 0.03, 0, 1.66);
  transform: translate(-50%, 50%);

  & p {
    max-width: 9rem;
    padding: 0.5rem;
    text-align: center;
  }
}
