@import '../abstracts/variables';
@import '../abstracts/mixins';

.mid__modal {
  color: var(--bg);
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.54, 0.03, 0, 1.66);
  transform: translateY(-20%);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;

  @include respond(mobile-land) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  &__btn {
    width: 20rem;
    height: 6rem;
    border-radius: 4rem;
    background-color: var(--primary);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(var(--shadow-rgb), 0.8);
    transition: all 0.3s cubic-bezier(0.54, 0.03, 0, 1.66);

    @include respond(mobile-land) {
      grid-column: 1 / -1;
      align-self: start;
      width: 100%;
      background-color: transparent;
      box-shadow: none;
      position: absolute;
      top: 0;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 3.5rem;
      height: 0.5rem;
      background-color: var(--acc1);
      border-radius: 0.8rem;
      transition: all 0.1s ease;
      transform: translate(-50%, -50%);

      @include respond(mobile-land) {
        background-color: var(--acc2);
      }
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:active {
      background-color: var(--acc2);
      transform: translateY(4px);
      box-shadow: inset 0px 3px 7px rgba(var(--shadow-rgb), 0.8);

      @include respond(mobile-land) {
        background-color: transparent;
        transform: translateY(4px);
        box-shadow: none;
      }

      &::before,
      &::after {
        background-color: var(--acc1);

        @include respond(mobile-land) {
          background-color: var(--primary);
        }
      }
    }
  }

  &__title {
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 2rem;
    padding: 2rem;

    @include respond(mobile-land) {
      width: 100%;
      height: 5%;
      margin-top: unset;
      grid-column: 1 / -1;
      font-size: 2rem;
      justify-content: center;
      transform: translateY(-40%);
    }
  }

  &__description {
    height: 35%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 2rem;

    @include respond(mobile-land) {
      grid-column: 1 / -1;
      font-size: 1.4rem;
      padding: 0rem;
      margin-bottom: 0.4rem;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &__languages,
  &__links {
    height: 17.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
  }

  &__icon {
    width: 5rem;
    height: 5rem;

    @include respond(mobile-land) {
      width: 3rem;
      height: 3rem;
    }

    & ion-icon {
      width: 100%;
      height: 100%;
      transition: all 0.3s cubic-bezier(0.54, 0.03, 0, 1.66);
      fill: var(--primary);
    }
  }

  &__link {
    width: 7rem;
    height: 7rem;

    @include respond(mobile-land) {
      width: 4rem;
      height: 4rem;
    }

    & ion-icon {
      width: 100%;
      height: 100%;
      transition: all 0.3s cubic-bezier(0.54, 0.03, 0, 1.66);
      fill: var(--primary);
    }
  }

  &__link:hover {
    & ion-icon {
      fill: var(--acc1);
    }
  }
}

///////////////////////////////////////////////////////////
// Modal Utilities
///////////////////////////////////////////////////////////

.body__layout.dark-theme .modal__icon ion-icon {
  fill: var(--bg);
}

.body__layout.dark-theme .modal__link ion-icon {
  fill: var(--bg);
}

.body__layout.dark-theme .modal__link:hover ion-icon {
  fill: var(--acc1);
}

.body__layout.dark-theme .mid__modal {
  background-image: linear-gradient(
    to right,
    rgba(var(--acc1-rgb), 0.5),
    rgba(var(--acc1-rgb), 0.5)
  );
}
